.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    padding: 40px;
}

.hh1 {
    display: grid;
    grid-column: span 12 / -1;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: bold;
}

h1 {
    color: rgb(45, 44, 44);
}

#output1 {
    grid-row: span 5/7;
    font-size: 24px;
    text-align: justify;
    font-family: 'Martel Sans', sans-serif;
}

#output1 p {
    justify-content: center;
    align-items: center;
    color: rgb(45, 44, 44);
    font-size: 30px;
}

#output2 {
    align-items: center;
    font-size: 20px;
    padding: 50px 25px 25px 0;
    text-align: justify;
    grid-column: span 8 / 11;
    line-height: 1.8;
    word-spacing: normal;
    font-family: 'Martel Sans', sans-serif;
}

button {
    border: 0;
    padding: 10px;
    background: #6002bb;
    border-radius: 69% 10% 10% 68% / 45% 10% 74% 10%;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-family: 'Noto Sans HK', sans-serif;
    outline: none;
    font-size: 16px;
}

.button123 {
    grid-column: 3 / 6;
    width: 140px;
    /* background: blueviolet;
    border-radius: 39% 10% 10% 68% / 10% 10% 74% 10%; */
    /* justify-content: end;
    align-items: baseline; */
}